<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django Project | {% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/main_form.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row mt-5">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block applications_js %}{% endblock applications_js %}
    </body>
</html>